version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: transcendence
      POSTGRES_USER: transcendence_user
      POSTGRES_PASSWORD_FILE: /run/secrets/POSTGRES_PASSWORD
    volumes:
      - ${DATA_PATH}/pg_data:/var/lib/postgresql/data
    secrets:
      - POSTGRES_PASSWORD
    networks:
      - transcendence-network

  backend:
    build: ./backend
    container_name: backend
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - "5000:5000"
    networks:
      - transcendence-network

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:3000"
    networks:
      - transcendence-network

  nginx:
    image: nginx:stable
    container_name: nginx
    restart: always
    depends_on:
      - frontend
    ports:
      - "8443:443"
    volumes:
      - ./nginx/conf/default.conf:/etc/nginx/conf.d/default.conf
      - ../secrets/certs:/etc/ssl/private
    networks:
      - transcendence-network

networks:
  transcendence-network:
    driver: bridge

secrets:
  POSTGRES_PASSWORD:
    file: ./secrets/POSTGRES_PASSWORD.txt
