.cardScene {
  display: flex;
  justify-content: center;
}

.cardsRow {
  display: flex;
  gap: 20px;
  height: 50vh;
}

.cardSlot {
  width: 15vw;
  height: 100%;
}

.cardCanvas {
  background: black;
}

.dashboard {
  width: 25vw;
  height: 100%;
  border-radius: 20px;
  background: black;
  padding-top: 20px;
}

.dashboardTop {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.avatar {
  width: 7vw;
  height: 12vh;
  background: rgb(229, 118, 233);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  img {
    max-width: 80%;
    max-height: 80%;
  }
}

.circleTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.separator {
  border: none;
  height: 3px;
  background: linear-gradient(90deg, transparent, #06f762, transparent);
  box-shadow: 0 0 8px #06f762;
}

.progressTile {
  display: flex;
  align-items: center;
  gap: 10px; /* espace entre les éléments si tu veux */
  font-style: italic;
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: red;
  margin: 0;
  padding: 0;
}

.progressTile .label {
  flex-shrink: 0; /* ne pas réduire PROGRESS */
}

.progressTile .line {
  flex-grow: 1; /* prend tout l’espace restant */
  height: 2px; /* épaisseur de la ligne */
  background-color: black;
  border-radius: 1px;
}

.progressTile .turn {
  flex-shrink: 0; /* ne pas réduire le texte du round */
}


.progressBarScore {
  width: 90%;
  margin: 20px auto;
  text-align: left;
}

.scoreHistory {
  width: 90%;
  margin: 10px auto;
  text-align: left;
}

.scoreList {
  list-style: none;
  font-size: 11px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.totalScore {
  width: 90%;
  margin: 10px auto 0;
  text-align: left;
  font-weight: bold;
  color: #ffb703;
}

.separatorLine {
  height: 2px;
  background: #444;
  margin-bottom: 6px;
  border-radius: 2px;
}

.totalScore p {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
