/* Variables Bootstrap (before bootstrap) */
@use "./button";
@use "./ProgressBarTimer";
@use "./cards";
@import "./variables";
@import "bootstrap/scss/bootstrap";


body {
  background-color: #0d1117;
  color: #e6edf3;
}
