.cardScene {
  display: flex;
  justify-content: center;
}

.cardsRow {
  display: flex;
  gap: 20px;
  height: 50vh;
}

.cardSlot {
  width: 15vw;
  height: 100%;
}

.cardCanvas {
  background: black;
}

.dashboard {
  width: 20vw;
  height: 50vh;
  border-radius: 20px;
  background: black;
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 7vw;
  height: 12vh;
  background: rgb(229, 118, 233);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 80%;
    max-height: 80%;
  }
}

.circleTimer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

hr.separator {
  border: none;
  height: 3px;
  background: linear-gradient(90deg, transparent, #06f762, transparent);
  box-shadow: 0 0 8px #06f762;
  margin-top: 0;
  margin-bottom: 3px;
}

.progressTile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: italic;
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: red;
  margin: 0;
  padding: 0;
}

.progressTile .label {
  flex-shrink: 0;
}

.progressTile .line {
  flex-grow: 1;
  height: 2px;
  background-color: black;
  border-radius: 1px;
}

.progressTile .turn {
  flex-shrink: 0;
}


.progressBarScore {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.scoreHistoryWrapper {
  display: flex;
  margin: 3px;
  width: 100%;
}


.scoreLists li{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
}

.totalScore {
  width: 100%;
  text-align: left;
}


.separatorLine {
  height: 2px;
  background: #444;
  margin-bottom: 6px;
  border-radius: 2px;
}

.totalScore p {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.resultStatus {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.win {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: green;
}

.separatorBottom {
  margin-top: auto;
  justify-content: center;
  padding-bottom: 1px;
}

.cardButton {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.card-body {
  --bs-card-spacer-y: 1rem !important;
}

.lose {
  color: red;
  text-align: center;
}
