.progressBarContainer {
  width: 100%;
  height: 14px;
  background: #222;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 5px black;
}

.progressBarFill {
  height: 100%;
  background: linear-gradient(90deg, #06f762, #ffb703, #ff3b3b);
  transition: width 1s linear;
}
